<!DOCTYPE html>
<html lang="es">

<head>
    {% block styles %}
    {{ bootstrap.load_css() }}
    {% endblock styles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale-1, shrink-to-fit=no">
    {% block title %}
    <div class="row">
        <title>{{ title }} - SNAP deck manager</title>
    </div>
    {% endblock title %}
</head>

<body>
    <div class="container" style="margin-top:1em;">
        {% include "navbar.html" %}
        <div class="row">
            <p class="h1">{{ title }}</p>
        </div>
        {% block content %}
        {% endblock content %}
        {% block footer %}
        <footer>
            <hr>
            <div class="row">
                <p class="text-muted text-end">SNAP deck manager</p>
            </div>
        </footer>
        {% endblock footer %}
    </div>
    {% block scripts %}
    {{ bootstrap.load_js() }}
    {% endblock scripts %}
</body>

</html>