{% extends "base.html" %}
{% block content %}

<div class="row mb-2">
    <div class="col-1">
        <span class="fw-bold">Tags</span>
    </div>
    <div class="col-11">
        {% for tag in deck.tags %}
        <a 
        class="btn btn-dark btn-sm"
        href={{ url_for("decks.get_tags", tag=tag.name) }}
        >
        {{ tag.name }}
        </a>
        {% endfor %}
    </div>
</div>

<div class="row mb-2">
    <div class="col-1">
        <span class="fw-bold">Code</span>
    </div>
    <div class="col-11">
        <span class="text-break">{{ deck_code }}</span>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <p class="h3">Decklist</p>
    </div>
    <div class="col-12">
        <table class="table table-hover table-sm" >
            <thead>
                <tr>
                    <th scope="col">Card</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for card in decklist %}
                <tr>
                    <td>{{ card }}</td>
                    <td>
                        <a class="btn btn-primary btn-md" href={{url_for("decks.view_card", cardname=card)}}>
                            View
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div> 

<div class="row">
    <div class="col-12">
        <p class="h3">Energy curve</p>
    </div>
    <div class="col-12">
        <table class="table table-hover table-sm" >
            <thead>
                <tr>
                {% for unique_energy in energy.keys() %}
                    <th scope="col"  style="width:10%;">{{ unique_energy }}</th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                {% for count_energy in energy.values() %}
                    <td style="width:10%;">{{ count_energy }}</td>
                {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div> 

<div class="row">
    <div class="col-12">
        <a
        class="btn btn-primary btn-md"
        href={{ url_for("decks.view_deck", id=deck.id, edit=True)}} 
        >
        Edit
        </a>
    </div>
</div>

{% endblock content %}

