{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-12">
        <table class="table table-hover table-sm" >
            <thead>
                <tr>
                    <th scope="col" style="width:25%;">Name</th>
                    <th scope="col" style="width:25%;">Tags</th>
                    <th scope="col" style="width:25%;">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for deck in decks %}
                <tr>
                    <td>{{ deck.name }}</td>
                    <td class="text-break">
                    {% for tag in deck.tags %}
                    <a
                    class="btn btn-dark btn-sm me-1"
                    href={{ url_for("decks.get_tags", tag=tag.name) }}
                    >
                    {{ tag.name }}
                    </span>
                    {% endfor %}
                    </td>
                    <td>
                        <a
                        class="btn btn-primary btn-md"
                        href={{ url_for("decks.view_deck", id=deck.id)}} 
                        >
                        View
                        </a>
                        <a
                        class="btn btn-primary btn-md"
                        href={{ url_for("decks.view_deck", id=deck.id, edit=True)}} 
                        >
                        Edit
                        </a>
                        <a
                        class="btn btn-danger btn-md"
                        href={{ url_for("decks.delete_deck", id=deck.id)}} 
                        >
                        Delete
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}