{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-12">
        <table class="table table-hover table-sm" >
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for tag in tags %}
                <tr>
                    <td>{{ tag.name }}</td>
                    <td><a
                    class="btn btn-primary btn-md"
                    href={{ url_for("decks.get_tags", tag=tag.name)}} 
                    >
                    View decks
                    </a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}