{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-12">
        <p class="fw-bold">Decks: {{ deck_count }}</p>
        <p class="fw-bold">Dags: {{ tag_count }}</p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p class="h3">Actions</p>
        <p>
        {% for key, value in urls.items() %}
        <a 
        href={{ url_for("decks."+value) }}
        class="btn btn-primary btn-md me-1"
        >
        {{ key }}
        </a>
        {% endfor %}
        </p>
    </div>
</div>

{% endblock content %}
